
html
{
    background-color: antiquewhite;
    text-align: center;
    height: 100%;
}

body
{
    margin:0%;
    padding:0%;
    /*height: 100%;*/
}

#sideBlock
{
    background-color: #40a0c5;
    color: whitesmoke;
    /*height: 100%;*/
    max-width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

#main
{
    display:flex;
    height: 100%;
}

main
{
    flex-grow: 1;
    
}

header
{
    display: flex;
    padding:5px;
    font-weight: bold;
}

header p
{
    margin: 0px;
}

nav
{
    flex-grow: 1;
}

header, nav a, footer
{
    background-color: #534383;
    color: white;
}

a:visited
{
    color: white;
}

.won
{
    border: 40px ridge rgba(120, 220, 50, .6);
    color: green;
    font-size: large;
    font-weight: bold;
}

.lost
{
    border: 40px ridge rgba(220, 110, 50, .6);
    color: red;
    font-size: large;
    font-weight: bold;
}